* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 20px;
  font-family: 'Poppins';
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 85px;
  width: 100%;
  background-color: #264d78;
  color: white;
}

.header .header__text-container {
  margin-right: 20px;
}

.header__logo {
  height: 100%;
  padding: 2px;
}

table {
  width: 95%;
  margin: 0 auto;
  font-size: 24px;
}

th {
  height: 50px;
  background-color: #264D78;
  color: white;
}

table,th,tr,td {
  /* border: 0.1px solid black; */
  border-collapse: collapse;
  /* box-shadow: 1px 1px 1px 1px black; */
}

td {
  text-align: center;
  padding: 30px;
}

td,th {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.alumnos-container img,
.profesores-container img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

#main {
  padding: 20px 100px;
}

h2 {
  line-height: 3rem;
  margin: 10px 0px;
}

h2:nth-child(3) {
  margin-top: 30px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color: #264D78;
  color: white;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .header,.footer {
    font-size: 14px;
  }
  #main {
    padding: 0px 10px;
  }
  table {
    font-size: 18px;
    margin-bottom: 20px;
  }
  thead {
    display: none;
  }
  tr,td {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border: 0.1px dotted rgba(0, 0, 0, 0.665);
  }
  tr {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  .alumnos-container img,
  .profesores-container img {
    height: 200px;
    width: 200px;
  }

}