header { 
  background-color: #336699;
  color: white;
  padding: 20px;
}

p {
  max-width: 600px;
  margin: 0 auto;
  font-family: 'Times New Roman', Times, serif;
  color: red;
  font-size: 17px;
}

h1 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 36px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  color: black;
}

input[type="number"],
select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

section {
  background-color: #f9f9f9;
  border: 2px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 40px;
}

h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 24px;
}

label[for="pagoInicial"],
label[for="totalFin"],
label[for="pagoMensual"] {
  font-size: 18px;
  display: inline-block;
  margin-right: 10px;
}

input[type="text"] {
  width: 30%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

table,th,td {
  border: 1px solid black;
  padding: 5px;
}


button {
  padding: 10px 20px;
  background-color: #336699;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #224466;
}

#status {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

#aside {
  width: 100%;
}

#aside h2 {
  padding: 20px;
}

#aside div {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

#aside picture {
  display: flex;
  align-items: center;
  justify-content: center;
}

#aside table {
  margin-bottom: 20px;
}

@media screen and (min-width: 1028px) {
  #main {
    display: flex;
  }
  #main-container {
    width: 65%;
  }
  #aside {
    width: 35%;
    padding: 30px;
  }
}