* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 448px;
  background-color: #D5FFD0;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {
  cursor: pointer;
  font-size: 20px;
}
input {
  font-size: 20px;
}

#header {
  display: flex;
  height: 100px;
  width: 100%;
  align-items: center;
  border: 1px solid white;
  justify-content: center;
}

#main {
  display: flex;
}

#main__section {
  width: 65%;
  padding: 30px;
  background-color: #0C356A;
  color: white;
}

.section__input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 20px 0px;
}

.section__input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
}

.section__input label {
  margin-right: 10px;
}

.section__input > input {
  height: 30px;
  padding: 5px;
}

.section__buttons {
  display: flex;
  gap: 10px;
}

.section__buttons button {
  display: flex;
  align-items: center;
  padding: 20px;
  height: 30px;
  border-radius: 20px;
  border: 2px solid transparent;
}

.section__buttons button:hover {
  border: 2px solid #1aff00;
}

.section__combobox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.section__combobox select {
  height: 30px;
  font-size: 18px;
}

.section__combobox label {
  margin-bottom: 10px;
}

.section__output {
  margin: 0 auto;
  padding: 30px;
  width: 50%;
  background-color: #ecffea;
  border-radius: 20px;
  box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.26);
  color: black;
  text-align: center;
}

.section__output p {
  padding: 10px 0px;
}

#porcentaje-resultados {
  font-weight: bolder;
}

#main__aside {
  padding: 30px;
  width: 35%;
  background-color: #40F8FF;
}

#btnGenerador {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

#btnGenerador button {
  margin: 5px 0;
  height: 60px;
}

#btnGenerador span {
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-style: italic;
}

#arrayText {
  padding: 20px;
  width: 100%;
}

h2 {
  text-align: center;
  text-transform: uppercase;
}

#footer {
  display: flex;
  height: 100px;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  border-top: 1px solid white;
}

@media screen and (max-width: 768px) {
  h1 {
    text-align: center;
  }
  #header {
    border: 1px solid transparent;
  }
  #main {
    flex-direction: column;
  }
  #main__section,#main__aside {
    width: 90%;
    margin: 10px auto;
  }
  .section__output {
    width: 100%;
  }
}